<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="cn.com.yedu.dao.ITextMessageDao">
 
	<select id="getTextMessageRes" resultType="java.util.Map">
		select msgType AS msgType,reqType AS reqType,content AS content
			from msg_text 
		where msgType = #{0} and reqType = #{1} and enabled = 'T' ORDER BY RAND() limit 1
	</select>
 
 </mapper>